/* app/admin/dashboard/admin-dashboard.module.css */
.main {
  padding: 2rem;
  background-color: #f0f2f5; /* สีพื้นหลังสไตล์ Dashboard */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #666;
  margin-top: 0;
  margin-bottom: 2rem;
}

.widget {
  background-color: #fff;
  border-radius: 10px;
  /* จัดให้ Widget อยู่ตรงกลางกล่อง Grid */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* ทำให้ Widget ยืดเต็มความสูงของกล่อง Grid */
.widget > div {
  width: 100%;
  height: 100%;
}
.formGroup textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  min-height: 80px;
}
.tabs {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* ปรับแต่งสไตล์ของ react-tabs */
.tabs :global(.react-tabs__tab-list) {
  border-bottom: 2px solid #dfe4ea;
  margin: 0 0 2rem 0;
}

.tabs :global(.react-tabs__tab) {
  border: none;
  border-bottom: 4px solid transparent;
  bottom: -2px;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
}

.tabs :global(.react-tabs__tab--selected) {
  background: none;
  border-color: #0070f3;
  color: #0070f3;
}

.tabs :global(.react-tabs__tab:focus) {
  box-shadow: none;
  outline: none;
}